.example-spacer {
    flex: 1 1 auto;
  }

  .example-form {
    min-width: 150px;
    /* max-width: 500px; */
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-card {
    max-width: 400px;
    margin: 25px;
  }
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .btn{
    width: 120px!important;
    min-width: unset!important;
}
.padL{
margin-left: 20px;
}
.padR{
  margin-right: 20px;
  }