<mat-toolbar>

  <span>Price Aggregator</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input type="search" matInput #message maxlength="256" placeholder="Product name (or) ID ">
    <mat-hint align="start"><strong>Search with model id for better result</strong> </mat-hint>
    <!-- <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
    <button mat-fab extended matSuffix (click)="search(message.value)">
      <mat-icon>search</mat-icon>
      Search
    </button>
  </mat-form-field>

</form>
<!-- <button (click)='startTimer()'>Start Timer</button>
<button (click)='pauseTimer()'>Pause</button> -->
<!-- <h3>{{timeLeft}}</h3> -->
<!-- <mat-spinner *ngIf="spin"></mat-spinner> -->
<mat-progress-bar mode="indeterminate" *ngIf="spin"></mat-progress-bar>
<!-- {{productList}} -->

<!-- <div *ngFor="let product of productList; index as i; first as isFirst">
 
</div> -->
<div class="flex-container">
  <mat-card class="example-card" *ngFor="let product of productList; index as i; first as isFirst">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{product.modelID}}</mat-card-title>
      <mat-card-subtitle>{{product.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.imgURL" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <!-- <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p> -->
      <mat-list>
        <!-- <div mat-subheader>Folders</div> -->
        <!-- <mat-list-item >
          <img src="assets/logos/Amazon.svg" alt="">
        <button  mat-button>${{product.priceList.AMAZON.price}}</button>
        </mat-list-item> -->
      </mat-list>
    </mat-card-content>
    <mat-divider *ngIf="product.priceList.AMAZON.price"></mat-divider>
    <mat-card-actions *ngIf="product.priceList.AMAZON.price>0">
      <img src="assets/logos/Amazon.svg" width="100px">
      <span class="example-spacer"></span>
      <button mat-fab extended color="primary" class="btn"
        (click)="goToLink('www.amazon.com'+ product.priceList.AMAZON.url)">
        <mat-icon>attach_money</mat-icon>
        {{product.priceList.AMAZON.price}}
      </button>
      <button mat-fab color="accent" aria-label="Example icon button with a home icon" class="padL" (click)="openDialog(product, product.priceList.AMAZON, 'AMAZON')">
        <mat-icon>notifications</mat-icon>
      </button>
      <!-- <button mat-raised-button color="primary" width="100px">$</button> -->
    </mat-card-actions>
    <mat-divider *ngIf="product.priceList.WALMART.price"></mat-divider>
    <mat-card-actions *ngIf="product.priceList.WALMART.price">
      <img src="assets/logos/Walmart.svg" width="100px">
      <span class="example-spacer"></span>
      <button mat-fab extended color="primary" class="btn"
        (click)="goToLink('www.walmart.com'+ product.priceList.WALMART.url)">
        <mat-icon>attach_money</mat-icon>{{product.priceList.WALMART.price}}</button>
        <button mat-fab color="accent" aria-label="Example icon button with a home icon" class="padL" (click)="openDialog(product, product.priceList.WALMART, 'WALMART')">
          <mat-icon>notifications</mat-icon>
        </button>
    </mat-card-actions>
    <mat-divider *ngIf="product.priceList.BESTBUY.price"></mat-divider>
    <mat-card-actions *ngIf="product.priceList.BESTBUY.price">
      <img src="assets/logos/Best_Buy.svg" width="100px">
      <span class="example-spacer"></span>
      <button mat-fab extended color="primary" class="btn"
        (click)="goToLink('www.bestbuy.com'+ product.priceList.BESTBUY.url)">
        <mat-icon>attach_money</mat-icon>{{product.priceList.BESTBUY.price}}</button>
        <button mat-fab color="accent" aria-label="Example icon button with a home icon" class="padL" (click)="openDialog(product, product.priceList.BESTBUY, 'BESTBUY')">
          <mat-icon>notifications</mat-icon>
        </button>
    </mat-card-actions>
    <mat-divider *ngIf="product.priceList.COSTCO.price"></mat-divider>
    <mat-card-actions *ngIf="product.priceList.COSTCO.price">
      <img src="assets/logos/Costco.svg" width="100px">
      <span class="example-spacer"></span>
      <button mat-fab extended color="primary" class="btn"
        (click)="goToLink('www.costco.com'+ product.priceList.COSTCO.url)">
        <mat-icon>attach_money</mat-icon>{{product.priceList.COSTCO.price}}</button>
        <button mat-fab color="accent" aria-label="Example icon button with a home icon" class="padL" (click)="openDialog(product, product.priceList.COSTCO, 'COSTCO')">
          <mat-icon>notifications</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>
</div>


<router-outlet></router-outlet>